@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-semibold mb-6;
    }

    h2 {
        @apply text-3xl font-medium mb-5;
    }

    h3 {
        @apply text-2xl font-medium mb-4;
    }

    h4 {
        @apply text-xl font-medium mb-3;
    }

    h5 {
        @apply text-lg font-medium mb-2;
    }

    h6 {
        @apply text-base font-medium mb-1;
    }

    p {
        @apply text-base leading-relaxed mb-4 text-justify;
    }

    a {
        @apply text-amber-600 hover:text-amber-700 transition-colors dark:text-amber-400 dark:hover:text-amber-500;
    }

    ul {
        @apply list-disc pl-6 mb-4;
    }

    ol {
        @apply list-decimal pl-6 mb-4;
    }

    li {
        @apply mb-2;
    }

    blockquote {
        @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
    }

    pre {
        @apply bg-gray-100 dark:bg-gray-800 text-sm p-4 rounded-lg overflow-x-auto mb-4 text-gray-800 dark:text-gray-100;
    }

    /* inline code */
    p code, li code, span code {
        @apply bg-gray-600 dark:bg-gray-300 text-sm px-1 py-0.5 rounded text-gray-100 dark:text-gray-800;
    }

    /* remove background from block code */
    pre code {
        @apply bg-transparent p-0 rounded-none text-inherit;
    }
}

.image-container {
    width: 100%; /* Set the width of the container */
    max-width: 320px;
    margin-left: 0;
}

.responsive-image {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.custom-form {
    max-width: 100%;
    width: 100%;
}

.bg-panes {
    @apply bg-gray-50 dark:bg-gray-900;
}

.bg-page {
    @apply bg-gray-100 dark:bg-gray-800;
}

.bg-cards {
    @apply bg-gray-200 dark:bg-gray-700;
}

/*.bg-cards:hover {*/
/*    @apply bg-gray-300 dark:bg-gray-700;*/
/*}*/

.bg-table {
    @apply bg-gray-200 dark:bg-gray-700;
}

.bg-table:hover {
    @apply bg-gray-300 dark:bg-gray-600;
}


.bg-ui-hamburger {
    @apply bg-gray-300 dark:bg-gray-600;
}

.bg-navbar-buttons {
    @apply bg-gray-800 dark:bg-gray-100;
}

.bg-ui-components {
    @apply bg-gray-200 dark:bg-gray-700;
}

.bg-forms {
    @apply bg-gray-500 dark:bg-gray-400;
}

.bg-forms-fields {
    @apply bg-gray-700 dark:bg-gray-100;
}

.bg-acc {
    @apply bg-amber-500 dark:bg-amber-400;
}

.bg-acc-l {
    @apply bg-amber-600 dark:bg-amber-500;
}

.bg-acc:hover {
    @apply bg-amber-600 dark:bg-amber-500;
}

.bg-acc-l:hover {
    @apply bg-amber-700 dark:bg-amber-600;
}


.text-acc {
    @apply text-amber-500 dark:text-amber-400;
}

.text-acc:hover {
    @apply text-amber-600 dark:text-amber-500;
}


.text-forms {
    @apply text-gray-800 dark:text-gray-200
}

.text-forms-input {
    @apply text-gray-800
}

.text-sat-m {
    @apply text-gray-600 dark:text-gray-300
}

.text-sat-l {
    @apply text-gray-800 dark:text-gray-200
}

.text-sat-xl {
    @apply text-gray-900 dark:text-gray-100
}

.text-code {
    @apply text-gray-50 dark:text-gray-900
}

.text-button {
    @apply text-gray-900 dark:text-gray-900
}

.text-navbar-buttons {
    @apply text-gray-800 dark:text-gray-100
}

.text-navbar-buttons:hover {
    @apply text-amber-700 dark:text-amber-500
}

.border-base {
    @apply border-gray-200 dark:border-gray-700
}

.border-base:hover {
    @apply border-gray-700 dark:border-gray-200
}

.border-permanent {
    @apply border-gray-700 dark:border-gray-200
}

.text-error {
    @apply  text-red-800 dark:text-red-500
}

.text-success {
    @apply  text-green-800 dark:text-green-500
}

.divide-y {
    @apply divide-gray-600 dark:divide-gray-300
}

.notification {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    min-width: 200px;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(10px);
}

.notification.success {
    background: #16a34a; /* green */
}
.notification.error {
    background: #dc2626; /* red */
}
